.container {
  margin: 2rem 0;
}

.container p {
  font-size: 1.2rem;
  font-weight: bold;
}

.size {
  border: 2px solid var(--text-color);
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-right: 1rem;
}

.size.unavailable {
  opacity: 0.5;
  pointer-events: none;
}

.size.active,
.size:hover {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
