@import "../../styles/main.less";

.feature-card {
  .ant-card-body {
    background-color: #f0f2f5;

    .ant-card-meta {
      .flex-center();

      .ant-card-meta-avatar {
        .ant-avatar {
          color: @primary-text-color;
          width: 6rem;
          height: 6rem;
        }
      }

      .feature-card__title,
      .feature-card__description {
        color: @primary-text-color;
        font-weight: bold;
        text-overflow: unset;
        white-space: pre-wrap !important;
      }

      .feature-card__description {
        color: @secondary-text-color;
        font-weight: normal;
      }
    }
  }

  &.feature-card--primary {
    .ant-card-body {
      background-color: @primary-color;
    }

    .ant-card-meta {
      .feature-card__title,
      .feature-card__description {
        color: white;
      }
    }
  }
}

@media only screen and (min-width: 575px) {
  .feature-card {
    &.feature-card--primary {
      .ant-card-body {
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
    }

    .ant-card-body {
      padding-top: 15px;
      padding-bottom: 15px;

      .ant-card-meta {
        .ant-card-meta-avatar {
          .ant-avatar {
            width: 8rem;
            height: 8rem;
          }
        }

        .feature-card__title {
          font-size: 1.5rem;
        }
      }
    }
  }
}
