.navItem {
  padding: 1rem 0;
  border-bottom: 1px solid var(--border-color);
}

.navItem > *:first-child {
  font-size: 1rem;
  opacity: 0.6;
}

.navItem a {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--text-color);
  margin-left: 1rem;
}

.navItem:hover > * {
  color: var(--primary-color);
  transition: all 0.2s ease-in-out;
}
