.button {
  background: salmon;
  position: relative;
}

.icon {
  font-size: 1.5rem;
}

.notification {
  position: absolute;
  top: -1rem;
  right: -1rem;
  background: var(--primary-color);
  border-radius: 100%;
  padding: 0.5rem;
  color: white;
  font-weight: bold;
}
