.searchBar {
  margin-left: auto;
  display: flex;
  padding: 0.7rem 0;
  justify-content: center;
}

.searchBar .container {
  position: relative;
}

.searchBar input {
  height: 100%;
  border-radius: 100px;
  border: 1.2px solid var(--text-color);
  outline: none;
  font-size: 1.1rem;
  text-align: center;
}

.searchBar input:focus {
  border: 1.2px solid var(--primary-color);
  transition: all 0.2s ease-in-out;
}

.searchBar input::placeholder {
  text-align: center;
  font-weight: lighter;
}

.searchBar .icon {
  font-size: 1.2rem;
  position: absolute;
  top: 25%;
  right: 2%;
  background: none;
  border: 0;
  cursor: pointer;
  outline: none;
}

.searchBar .icon:hover {
  color: var(--primary-color);
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 768px) {
  .searchBar {
    order: -1;
    margin: 1rem auto;
  }
}
