@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@header-height-small: 64px;
@header-height-large: 80px;

@primary-text-color: #4a4a4a;
@secondary-text-color: rgba(0, 0, 0, 0.45);
@primary-font: "Poppins", sans-serif;

@primary-border: 1px solid @primary-color;
@secondary-border: 1px solid #d9d9d9;

@secondary-border-color: #d9d9d9;

@footer-color: #f0f2f5;
