.category > * {
  color: var(--text-color);
  text-decoration: none;
  font-style: italic;
  font-size: 0.9rem;
  opacity: 0.6;
}

.category a:hover {
  color: var(--primary-color);
  transition: all 0.2s ease-in-out;
}

.category.large > * {
  font-size: 1.2rem;
}

.category.large {
  margin: 1rem 0;
}


