@import "../../styles/main.less";

.social-media {
  margin-top: 1rem;

  .social-media__btn {
    color: @primary-text-color;
    border-color: @secondary-border-color;

    &:hover {
      color: @primary-color;
      border-color: @primary-color;
    }
  }
}
