.footer {
  margin-top: 5rem;
  background: var(--toolbar-bg-color);
}

.footer .info {
  width: 70%;
  margin: 0 auto;
  padding: 3rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3rem;
}

.footer .info .about p {
  opacity: 0.6;
}

.footer .info .support ul {
  padding: 0;
  list-style: none;
}

.copyright {
  text-align: center;
  opacity: 0.6;
  border-top: 2px solid var(--border-color);
}

@media screen and (max-width: 768px) {
  .footer .info {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer .info {
    width: 85%;
  }
}
