.nav {
}

.nav ul {
  list-style: none;
}

.nav ul li {
  display: inline-block;
  padding: 0 1rem;
}

.nav ul li a {
  font-size: 1.3rem;
  font-size: 700;
  text-decoration: none;
  color: var(--text-color);
  transition: all 0.2s ease-in-out;
}

.nav ul li a:hover,
.nav ul li a:active {
  color: var(--primary-color);
}

@media screen and (max-width: 768px) {
  .nav ul {
    padding: 0 1rem;
  }

  .nav ul li {
    display: block;
    padding: 0.5rem 0;
  }
}
