@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

:root {
  --text-color: rgb(74, 74, 74);
  --primary-color: rgb(47, 206, 152);
  --border-color: rgb(219, 219, 219);
  --toolbar-bg-color: rgb(248, 248, 248);
  --category-bg-color: rgb(74, 74, 74);
}

html {
  color: var(--text-color);
}

* {
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}
